<h1>Dashboard</h1>
<% if (user.socialAccounts && user.socialAccounts.length > 0) { %>
  <h2>Redes conectadas:</h2>
  <ul>
    <% user.socialAccounts.forEach(account => { %>
      <li><%= account.provider %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No hay redes sociales conectadas.</p>
<% } %>